services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: test-devops-1:local
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs